

<h1>Available Services</h1>


<ul>
  <% @services.each do |service| %>
    <li>
      <h3><%= service.name %> - $<%= service.price %></h3>
      <p><%= service.description %></p>
      <p>Duration: <%= service.duration %> minutes</p>
      <%= link_to 'View Details', service_path(service) %>
      <%= link_to 'Book Now', bookings_path(service_id: service.id), method: :post if user_signed_in? %>
    </li>
  <% end %>
</ul>

<% unless user_signed_in? %>
  <p><%= link_to 'Login to book services', new_user_session_path %></p>
<% end %>
