<h1>Manage Services</h1>

<%= link_to 'Add New Service', new_admin_service_path, class: "btn btn-primary" %>

<ul>
  <% @services.each do |service| %>
    <li>
      <%= service.name %> - $<%= service.price %>
      <%= link_to 'Edit', edit_admin_service_path(service), class: "btn btn-warning" %>
      <%= link_to 'Delete', admin_service_path(service), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back to Services', services_path, class: "btn btn-secondary" %>
