<h1>Your Bookings</h1>

<h2>Upcoming Bookings</h2>
<ul>
  <% @upcoming_bookings.each do |booking| %>
    <li>
      <strong><%= booking.service.name %></strong> - 
      <%= booking.booking_time.strftime("%Y-%m-%d %H:%M") %>
    </li>
  <% end %>
</ul>

<h2>Past Bookings</h2>
<ul>
  <% @past_bookings.each do |booking| %>
    <li>
      <strong><%= booking.service.name %></strong> - 
      <%= booking.booking_time.strftime("%Y-%m-%d %H:%M") %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back to Services', services_path %>
